body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.addimage {
    width: 100%;
    max-height: initial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.guid {
    max-width: 100%;
    height: 0;
    padding: 3% 0 0;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 1.5vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    text-align: center;
    color: #3c9eec;
}
.file-upload {
    max-width: 94%;
    max-height: 100%;
    padding: 6% 33% 2%;
    margin: 0 auto;
}
/* ---------------------------------------- */
.image-upload-wrap {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    height: 30vw;
    object-fit: contain;
    border: dashed 1.5px #3c9eec;
    background-color: #ffffff;
    margin: 0;
    border-radius: 20px;
}
.image-dropping .image-upload-wrap:hover {
    background-color: #ffffff;
    border: 1.5px dashed #3c9eec;
}
.drag-text {
    text-align: center;
    margin: 0;
}
.file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    height: 30vw;
    object-fit: contain;
    border: dashed 1.5px #3c9eec;
    background-color: #ffffff;
    margin: 0;
    border-radius: 20px;
    opacity: 0;
    outline: none;
    cursor: pointer;

}
.upload {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 8vw;
    border-radius: 50px;
}
.drag-text h3 {
    max-width: 100%;
    max-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-family: NanumSquareR;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
    color: #222;
    margin: 2% auto;
}
.file-upload-content {
    object-fit: contain;
    display: none;
    text-align: center;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    max-height: 100%;
    max-width: 100%;
    border: dashed 1.5px #3c9eec;
    background-color: #ffffff;
    border-radius: 20px;
}
.file-upload-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 10%;
    border-radius: 10px;
}
.image-title-wrap {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}
.remove-image {
    max-width: 87%;
    margin: 0;
    color: #fff;
    background: #3c9eec;
    border: none;
    padding: 0;
    border-radius: 10px;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vw;
    overflow: hidden;
}
.remove-image:hover {
    background: #3c9eec;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}
.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}
#label-container1 {
    max-width: 90vw;
    margin: 0 auto;
    font-family: auto;
    font-size: 2vw;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
#label-container2 {
    position: absolute;
    top:5wv;
    left:5wv;
    max-width: 90vw;
    margin: 0 auto;
    font-family: auto;
    font-size: 2vw;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
.label-container-cover {
    text-align: center;
    position: relative;
    max-width: 80%;
    height: 10vw;
    margin: 1.5vw auto 1.5vw;
    border: solid 3px #3c9eec;
    border-radius: 10px;
    overflow: auto;
}
/* ---------------------------------------- */
.btn {
    width: 100%;
    height: 100%;
    margin: 1% auto;
}
.bt1 {
    max-width: 20vw;
    max-height: 100%;
    margin: 1.0vw auto;
    padding: 0.5% 0;
    object-fit: contain;
    border-radius: 10px;
    border: solid 1.5px #ffffff;
    background-color: #3c9eec;
}
.bt2 {
    max-width: 20vw;
    max-height: 100%;
    margin: 1.0vw auto;
    padding: 0.5% 0;
    object-fit: contain;
    border-radius: 10px;
    border: solid 1.5px #ffffff;
    background-color: #3c9eec;
}
.start {
    max-width: 100%;
    max-height: 100%;
    font-family: Roboto;
    font-size: 1.3vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.prediction {
    max-width: 100%;
    max-height: 100%;
    font-family: Roboto;
    font-size: 1.3vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
